//@import "@angular/material/theming";
@use '@angular/material' as mat;
@include mat.core();
//@include mat-core();
$md-ygo-primary: (
  50: #e4e4e8,
  100: #babcc5,
  200: #8d909f,
  300: #5f6378,
  400: #3c415b,
  500: #1a203e,
  600: #171c38,
  700: #131830,
  800: #0f1328,
  900: #080b1b,
  A100: #5b74ff,
  A200: #2849ff,
  A400: #0026f4,
  A700: #0022da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$md-ygo-accent: (
  50: #e3e8f0,
  100: #b8c6d9,
  200: #89a0c0,
  300: #5a79a6,
  400: #365d93,
  500: #134080,
  600: #113a78,
  700: #0e326d,
  800: #0b2a63,
  900: #061c50,
  A100: #84a1ff,
  A200: #517aff,
  A400: #1e53ff,
  A700: #0440ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ygo-primary: mat.define-palette($md-ygo-primary, 500,400,800);
$ygo-accent: mat.define-palette($md-ygo-accent, 500, 300, 800);

// The warn palette is optional (defaults to red).
//$ygo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ygo-theme: mat.define-light-theme(
  (
    color: (
      primary: $ygo-primary,
      accent: $ygo-accent,
    ),
  )
);

//@include mat.all-component-themes($ygo-theme);