
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "./assets/pka-style";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$ygo-seller-primary: mat.define-palette(mat.$indigo-palette);
//$ygo-seller-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$ygo-seller-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
//$ygo-seller-theme: mat.define-light-theme((
//  color: (
//    primary: $ygo-seller-primary,
//    accent: $ygo-seller-accent,
//    warn: $ygo-seller-warn,
//  )
//));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($ygo-seller-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}
svg{
  fill: #000000aa;
}

#viewer {
  width: 100vw;
  height: 70vh;
  //line-height: 1.1;
}

.dropzone {
  min-height: 100 px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.65);
}




@include mat.all-component-themes($ygo-theme);

/* You can add global styles to this file, and also import other style files */
.color-primary {
  color: #fafaf9;
  background-color: mat.get-color-from-palette($md-ygo-primary);
}

.color-accent {
  color: #fafaf9;
  background-color: mat.get-color-from-palette($md-ygo-accent, darker);
  opacity: 0.8;
}
.color-bright {
  background-color: #fafaf9;
  color: mat.get-color-from-palette($md-ygo-primary, darker);
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
svg {
  display: block;
  margin: 0 auto;
}

.container{
  margin: 1rem;
  padding: 1rem;
}

