.example-full-width {
    width: 100%;
    //margin: 1rem;
    margin-top: 1rem;

  }
  
.content{
    margin:0rem;
}
.column {
    flex-direction: column;
    display: flex;

    height: 100%;
    width: 50%;
    margin: 1rem;
    margin-top: 0rem;
    padding: 1rem;
}
.row{
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
    display: flex;
}
.row-items{
    align-content: center;
    vertical-align: middle;
    flex-direction: row;
    width: 100%;
    display: flex;
}
.test{
    background-color: #134080!important;
    text-decoration-color: aliceblue!important;
}
.relation{
    background-color: #b8dec7!important;
}
.secoundary{
    background-color: #dab5da!important;
}
.chip-list{
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.chip{
    background-color: #f2efe8!important;
}