<div class="row">

    <div class="column">
        <mat-card class="example-full-width">
            <mat-card-header>

                <mat-card-title>Text Input</mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <form>


                    <mat-form-field class="example-full-width">
                        <mat-label>Input Text</mat-label>
                        <textarea rows="5" #newsText matInput placeholder="Some News" maxlength="7500"
                            (change)="setText(newsText.value)"></textarea>
                        <mat-hint [align]="'end'">{{newsText.value.length}} / 7500</mat-hint>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" [disabled]="!text || loading"
                    (click)="extractText()">Analyse</button>

            </mat-card-actions>
        </mat-card>

        <mat-card class="example-full-width" *ngIf="text">
            <mat-card-header>

                <mat-card-title>Full Text</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                {{text}}
                <div *ngIf="entities.length != 0">
                    <mat-card-subtitle>Detected Entities</mat-card-subtitle>
                    <mat-chip-listbox aria-label="Detected Entities">
                        <mat-chip *ngFor="let pair of uniqueEntities | keyvalue" [title]="pair.value.URI" class="chip">
                            {{pair.value.count}} | {{pair.value.surfaceForm}}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column">

        <mat-spinner *ngIf="loading"></mat-spinner>


        <mat-card class="example-full-width" *ngIf="relations.length != 0">
            <mat-card-header>
                <mat-card-title>Detected Relations</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-list role="list">
                    <ng-template ngFor let-rel [ngForOf]="relations">
                        <mat-list-item role="listitem">
                            <div class="row-items">
                                <mat-chip class="chip">
                                    {{rel.from}}
                                </mat-chip>
                                <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
                                <mat-chip class="chip">
                                    {{rel.to}}
                                </mat-chip>
                            </div>

                        </mat-list-item>
                        <ng-template ngFor let-type [ngForOf]="rel.primary">
                            <mat-list-item role="listitem">
                                <div class="row-items">
                                    <mat-chip class="relation">
                                        {{type}}
                                    </mat-chip>
                                </div>
                            </mat-list-item>
                        </ng-template>
                        <ng-template ngFor let-type [ngForOf]="rel.secoundary">
                            <mat-list-item role="listitem">
                                <div class="row-items">
                                    <mat-chip class="secoundary">
                                        {{type}}
                                    </mat-chip>
                                </div>
                            </mat-list-item>
                        </ng-template>
                        <mat-divider></mat-divider>
                    </ng-template>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>